@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,300;0,600;0,800;1,300;1,500;1,800&display=swap');

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 700px;
    max-width: 100vw;
    margin: 4rem auto 0 auto;
    padding: 0 1rem;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
}

.video {
    background-color: black;
    width: 100%;
    height: auto;
}

h3 {
    margin-top: 3rem;
}

a, a:link, a:visited {
    color: rgb(0, 230, 0);
}